{
  "CTF_SPACE_ID": "${CTF_SPACE_ID}",
  "CTF_ENVIRONMENT": "${CTF_ENVIRONMENT}",
  "CTF_CDA_ACCESS_TOKEN": "${CTF_CDA_ACCESS_TOKEN}",
  "BASE_URL": "${BASE_URL}",
  "BASIC_AUTH_USER": "${BASIC_AUTH_USER}",
  "BASIC_AUTH_PASS": "${BASIC_AUTH_PASS}"
}
