{
  "BASIC_AUTH_USER": "${BASIC_AUTH_USER}",
  "BASIC_AUTH_PASS": "${BASIC_AUTH_PASS}",
  "BASE_URL": "${BASE_URL}",
  "CTF_CDA_ACCESS_TOKEN": "${CTF_CDA_ACCESS_TOKEN}",
  "CTF_CDA_PREVIEW_TOKEN": "${CTF_CDA_PREVIEW_TOKEN}",
  "CTF_ENVIRONMENT": "${CTF_ENVIRONMENT}",
  "CTF_HOST": "${CTF_HOST}",
  "CTF_SPACE_ID": "${CTF_SPACE_ID}"
}
