# node dependencies/logs
node_modules
npm-debug.log

# Nuxt build/generate directories
.nuxt
dist

# Contentful API keys
.contentful.json

# the docker compose env file
.env

# code coverage reports
coverage

# temp files (Jest+Puppeteer artifacts)
tmp
