//——————————————————————————————————————————————————————————————————————————————
// Global Sass
//
// This file is ONLY for global variables or other silent configuration.
// Don't add any style which compiles to CSS in Sass.
//——————————————————————————————————————————————————————————————————————————————

//
// Breakpoints
//
$bkpt-app-bar: 600px;
$bkpt-grid-max: 1188px;

//
// Colors
//
$main-blue: #4a8cca;

//
// Font stacks
//
$font-system: system-ui;

$roboto: "Roboto", system-ui, sans-serif;
$roboto-condensed: "Roboto Condensed", Roboto, system-ui, sans-serif;

$kufi: "Kufi", sans-serif;
$kufi-bold: "Kufi Bold", "Kufi", sans-serif;

$dubai: "Dubai Regular", "Times New Roman", serif;
