/**
 * Until a better build system is in place, global styles go here
 */

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body {
  background: hsl(0, 0%, 97%);
  padding-top: 2rem;
}

@media (min-width: 600px) {
  body {
    padding-top: 0;
  }
}

/**
 * Drupal 7 — Hide elements from all users.
 *
 * Used for elements which should not be immediately displayed to any user. An
 * example would be a collapsible fieldset that will be expanded with a click
 * from a user. The effect of this class can be toggled with the jQuery show()
 * and hide() functions.
 */
.element-hidden {
  display: none;
}

/**
 * Drupal 7 — Hide elements visually, but keep them available for screen-readers.
 *
 * Used for information required for screen-reader users to understand and use
 * the site where visual display is undesirable. Information provided in this
 * manner should be kept concise, to avoid unnecessary burden on the user.
 * "!important" is used to prevent unintentional overrides.
 */
.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
}

/**
 * Drupal 7 — keyboard-focusable hidden elements
 *
 * The .element-focusable class extends the .element-invisible class to allow
 * the element to be focusable when navigated to via the keyboard.
 */
.element-invisible.element-focusable:active,
.element-invisible.element-focusable:focus {
  position: static !important;
  clip: auto;
  overflow: visible;
  height: auto;
}

/**
 * Drupal 7 — automatically clear floats.
 */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}


/*—— Site Container ——————————————————————————————————————————————————————————*/

.container {
  max-width: 1200px;
  margin: 2rem 1rem;
  padding: 0;
  background-color: transparent;
  box-shadow: none;
}

@media (min-width: 600px) {
  .container {
    margin: 2rem;
    margin-left: 6rem;
  }
}


[class*="viz--"] {
  display: none;
}

@media (min-width: 480px) {
  .viz--480 {
    display: initial;
  }
}

/*—— General content —————————————————————————————————————————————————————————*/

main {
  display: block; /* IE11 fix */
}
main img {
  max-width: 100%;
}
main ul {
  margin: 0;
  padding: 1em 0 0 2em;
}
main li {
}
main a {
  color: #4c8cca;
}
main code {
  display: inline-block;
  padding: 0 .25em;
  background-color: #eee;
  color: black;
  border-radius: 3px;
}
main figure:has(img) {
  position: relative;
  padding: 8px 8px 5px 8px;
  background: #ddd;
  border-radius: 3px;
}
main figure img {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  border-radius: 5px;
}
main figure img ~ figcaption {
  position: absolute;
  right: 8px;
  bottom: 8px;
  max-width: 80%;
  padding: .666em 1.333em;
  background: rgba(0,0,0,0.666);
  color: white;
  border-radius: 5px 0 0 0;
}

/*—— Cards ———————————————————————————————————————————————————————————————————*/

.card {
  margin: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  background: white;
  border-radius: 7px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  position: relative;
}

.card__title {
  margin-bottom: 1rem;
  color: #444;
  font-family: "RobotoCondensed-Bold", sans-serif;
  font-size: 17px;
  text-transform: uppercase;
}

.card__actions {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.card__actions .btn {
  width: 1rem;
  height: 1rem;
  border: 0;
  margin: 0;
  margin-left: .5rem;
  opacity: 1;
  transition: opacity .3333s ease-out;
}

.card__actions .btn:hover {
  opacity: .8;
  transition: opacity .1666s ease-out;
}

.btn--download {
  background: url('/icons/icon--download.svg') center no-repeat;
  background-size: contain;
}

.btn--share {
  background: url('/icons/icon--share.svg') center no-repeat;
  background-size: contain;
}


/*—— Markdown ————————————————————————————————————————————————————————————————*/

.md {}
.md * {
  margin-bottom: 1em;
}
.md p {
  line-height: 1.5;
}
.md p img {
  display: block;
  margin: 1em 0;
}

/*—— DevTools ————————————————————————————————————————————————————————————————*/

pre {
  background: repeating-linear-gradient(to right, #eee 0, #eee 15px, #ddd 15px, #ddd 30px);
}
